*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('./fonts/MyriadPro-Regular.otf');
}

:root {
  --ff-primary: 'MyriadPro-Regular', sans-serif;

  --bg: rgb(195, 195, 195);
  --orange: #ff8f1f;
  --blue: rgb(30, 143, 255);
  --green: #217c7e;

  --fs-screen: 5.4rem;
  --fs-buttons: 1.8rem;
}

html {
  height: 100%;
}

* {
  font-family: var(--ff-primary);
}

body {
  min-height: 100%;
  margin: 0;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  width: 450px;
  height: 700px;
  background-color: rgb(202, 202, 202);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: .3em;
  column-gap: .3em;
}

.screen {
  width: 100%;
  padding: 0 .3em;
  line-height: .8;
  grid-column: 1 / -1;
  font-size: var(--fs-screen);
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  font-size: var(--fs-buttons);
  backdrop-filter: blur(80px);
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, .6);
}

.operator,
.equals {
  background-color: var(--orange);
}

.operator:focus {
  background-color: #fab876;
}

.number {
  background-color: var(--green);
}

.clear,
.sign,
.percentage,
.delete {
  background-color: var(--blue);
}